Project 1

Reg_no: DS066

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
student = {'name':['Bruce','Lisa','Megan','Kennedy','Emeka','Aisha','Seyi','Queeneth','Wendy','Eric'],
           'relationship':['married','single','married','single','single','single','married','single','single','married'],
           'age':['28','20','25','21','19','22','29','23','18','27'],
           'department':['law','yoruba','accounting','finance','engineering','physics','medicine','dentistry','geology','history']}

In [ ]:
student['cgpa']=['3.25','2.9','4.5','4.8','4.0','2.5','4.2','4.3','4.4','3.8']

In [ ]:
student.pop('relationship')

['married',
 'single',
 'married',
 'single',
 'single',
 'single',
 'married',
 'single',
 'single',
 'married']

In [ ]:
df = pd.DataFrame(student)

In [ ]:
df['admission_date'] = ['2017-9-30','2022-3-11','2019-9-25','2016-11-10','2018-9-26','2020-1-28','2021-5-7','2019-11-3','2017-9-24','2018-11-10']
df['gender'] = ['male','female','female','male','male','female','male','female','female','male']

In [ ]:
df

       name age   department  cgpa admission_date  gender
0     Bruce  28          law  3.25      2017-9-30    male
1      Lisa  20       yoruba   2.9      2022-3-11  female
2     Megan  25   accounting   4.5      2019-9-25  female
3   Kennedy  21      finance   4.8     2016-11-10    male
4     Emeka  19  engineering   4.0      2018-9-26    male
5     Aisha  22      physics   2.5      2020-1-28  female
6      Seyi  29     medicine   4.2       2021-5-7    male
7  Queeneth  23    dentistry   4.3      2019-11-3  female
8     Wendy  18      geology   4.4      2017-9-24  female
9      Eric  27      history   3.8     2018-11-10    male

In [ ]:
student2 = {'name':['Bruce','Lisa','Megan','Kennedy','Emeka','Aisha','Seyi','Queeneth','Wendy','Eric'],
            'age':['28','20','25','21','19','22','29','23','18','27'],
            'department':['law','yoruba','accounting','finance','engineering','physics','medicine','dentistry','geology','history'],
            'admission_date':['2017-9-30','2022-3-11','2019-9-25','2016-11-10','2018-9-26','2020-1-28','2021-5-7','2019-11-3','2017-9-24','2018-11-10'],
            'gender':['male','female','female','male','male','female','male','female','female','male']}
df2 = pd.DataFrame(student2)

In [ ]:
df2

       name age   department admission_date  gender
0     Bruce  28          law      2017-9-30    male
1      Lisa  20       yoruba      2022-3-11  female
2     Megan  25   accounting      2019-9-25  female
3   Kennedy  21      finance     2016-11-10    male
4     Emeka  19  engineering      2018-9-26    male
5     Aisha  22      physics      2020-1-28  female
6      Seyi  29     medicine       2021-5-7    male
7  Queeneth  23    dentistry      2019-11-3  female
8     Wendy  18      geology      2017-9-24  female
9      Eric  27      history     2018-11-10    male

In [ ]:
import datetime as dt

In [ ]:
df2['admission_date'] = pd.to_datetime(df2['admission_date'])

In [ ]:
df2['year'] = df2['admission_date'].dt.year
df2['month'] = df2['admission_date'].dt.month
df2['day'] = df2['admission_date'].dt.day
df2

       name age   department admission_date  gender  year  month  day
0     Bruce  28          law     2017-09-30    male  2017      9   30
1      Lisa  20       yoruba     2022-03-11  female  2022      3   11
2     Megan  25   accounting     2019-09-25  female  2019      9   25
3   Kennedy  21      finance     2016-11-10    male  2016     11   10
4     Emeka  19  engineering     2018-09-26    male  2018      9   26
5     Aisha  22      physics     2020-01-28  female  2020      1   28
6      Seyi  29     medicine     2021-05-07    male  2021      5    7
7  Queeneth  23    dentistry     2019-11-03  female  2019     11    3
8     Wendy  18      geology     2017-09-24  female  2017      9   24
9      Eric  27      history     2018-11-10    male  2018     11   10

In [ ]:
df.dtypes

name              object
age               object
department        object
cgpa              object
admission_date    object
gender            object
dtype: object

In [ ]:
df2.fillna('missing')

       name age   department admission_date  gender  year  month  day
0     Bruce  28          law     2017-09-30    male  2017      9   30
1      Lisa  20       yoruba     2022-03-11  female  2022      3   11
2     Megan  25   accounting     2019-09-25  female  2019      9   25
3   Kennedy  21      finance     2016-11-10    male  2016     11   10
4     Emeka  19  engineering     2018-09-26    male  2018      9   26
5     Aisha  22      physics     2020-01-28  female  2020      1   28
6      Seyi  29     medicine     2021-05-07    male  2021      5    7
7  Queeneth  23    dentistry     2019-11-03  female  2019     11    3
8     Wendy  18      geology     2017-09-24  female  2017      9   24
9      Eric  27      history     2018-11-10    male  2018     11   10

In [ ]:
df.name.unique()

array(['Bruce', 'Lisa', 'Megan', 'Kennedy', 'Emeka', 'Aisha', 'Seyi',
       'Queeneth', 'Wendy', 'Eric'], dtype=object)

In [ ]:
df.age.unique()

array(['28', '20', '25', '21', '19', '22', '29', '23', '18', '27'],
      dtype=object)

In [ ]:
df.department.unique()

array(['law', 'yoruba', 'accounting', 'finance', 'engineering', 'physics',
       'medicine', 'dentistry', 'geology', 'history'], dtype=object)

In [ ]:
df.admission_date.unique()

array(['2017-9-30', '2022-3-11', '2019-9-25', '2016-11-10', '2018-9-26',
       '2020-1-28', '2021-5-7', '2019-11-3', '2017-9-24', '2018-11-10'],
      dtype=object)

In [ ]:
df.gender.unique()

array(['male', 'female'], dtype=object)

In [ ]:
df.name.nunique()

10

In [ ]:
df.age.nunique()

10

In [ ]:
df.department.nunique()

10

In [ ]:
df.admission_date.nunique()

10

In [ ]:
df.gender.nunique()

2

In [ ]:
df.name.value_counts()

Bruce       1
Lisa        1
Megan       1
Kennedy     1
Emeka       1
Aisha       1
Seyi        1
Queeneth    1
Wendy       1
Eric        1
Name: name, dtype: int64

In [ ]:
df.age.value_counts()

28    1
20    1
25    1
21    1
19    1
22    1
29    1
23    1
18    1
27    1
Name: age, dtype: int64

In [ ]:
df.department.value_counts()

law            1
yoruba         1
accounting     1
finance        1
engineering    1
physics        1
medicine       1
dentistry      1
geology        1
history        1
Name: department, dtype: int64

In [ ]:
df.admission_date.value_counts()

2017-9-30     1
2022-3-11     1
2019-9-25     1
2016-11-10    1
2018-9-26     1
2020-1-28     1
2021-5-7      1
2019-11-3     1
2017-9-24     1
2018-11-10    1
Name: admission_date, dtype: int64

In [ ]:
df.gender.value_counts()

male      5
female    5
Name: gender, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            10 non-null     object
 1   age             10 non-null     object
 2   department      10 non-null     object
 3   cgpa            10 non-null     object
 4   admission_date  10 non-null     object
 5   gender          10 non-null     object
dtypes: object(6)
memory usage: 608.0+ bytes

In [ ]:
df.describe()

         name age department  cgpa admission_date gender
count      10  10         10    10             10     10
unique     10  10         10    10             10      2
top     Bruce  28        law  3.25      2017-9-30   male
freq        1   1          1     1              1      5

In [ ]:
df.shape

(10, 6)

In [ ]:
df.query('gender =="male"')

      name age   department  cgpa admission_date gender
0    Bruce  28          law  3.25      2017-9-30   male
3  Kennedy  21      finance   4.8     2016-11-10   male
4    Emeka  19  engineering   4.0      2018-9-26   male
6     Seyi  29     medicine   4.2       2021-5-7   male
9     Eric  27      history   3.8     2018-11-10   male

In [ ]:
df['cgpa'] = pd.to_numeric(df['cgpa'])

In [ ]:
df['cgpa'].mean()

3.8649999999999998

In [ ]:
df['cgpa'].min()

2.5

In [ ]:
df['cgpa'].max()

4.8

In [ ]:
df['cgpa'].sum()

38.65

In [ ]:
df

       name age   department  cgpa admission_date  gender
0     Bruce  28          law  3.25      2017-9-30    male
1      Lisa  20       yoruba  2.90      2022-3-11  female
2     Megan  25   accounting  4.50      2019-9-25  female
3   Kennedy  21      finance  4.80     2016-11-10    male
4     Emeka  19  engineering  4.00      2018-9-26    male
5     Aisha  22      physics  2.50      2020-1-28  female
6      Seyi  29     medicine  4.20       2021-5-7    male
7  Queeneth  23    dentistry  4.30      2019-11-3  female
8     Wendy  18      geology  4.40      2017-9-24  female
9      Eric  27      history  3.80     2018-11-10    male

In [63]:
df.to_csv('student-details.csv', index=False)
pd.read_csv('student-details.csv')

       name  age   department  cgpa admission_date  gender
0     Bruce   28          law  3.25      2017-9-30    male
1      Lisa   20       yoruba  2.90      2022-3-11  female
2     Megan   25   accounting  4.50      2019-9-25  female
3   Kennedy   21      finance  4.80     2016-11-10    male
4     Emeka   19  engineering  4.00      2018-9-26    male
5     Aisha   22      physics  2.50      2020-1-28  female
6      Seyi   29     medicine  4.20       2021-5-7    male
7  Queeneth   23    dentistry  4.30      2019-11-3  female
8     Wendy   18      geology  4.40      2017-9-24  female
9      Eric   27      history  3.80     2018-11-10    male

In [ ]:
df.to_csv('df.csv', index=False)

In [ ]:
cat df.csv